.filters{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(66.3%);

}
.filters > div{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;

}